@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.aviso-topo{
    background-color: #a70a13;
    color: white;
}

.bg-redmenu{
    background: #e30000;
}

.btn-busca{
    background: white;
    color: #e30000;
}

.border-l{
    border-radius: 0 5px 5ps 0;
}

.border-r{
    border-radius: 5px 0 0 5px;
}
.navbar-brand{
    font-family: "oswald";
    font-style: italic;
}

